.nav-content {
  padding-top: 1rem;
}

.email-input {
  padding: 0.3rem;
}

.join-waitist-container {
  background-color: rgba(255, 255, 255, 0.9);
  height: 4rem;
  margin: 1rem auto;
}

.ok-button {
  border: none;
  background-color: #0aa4b4;
  color: white;
  padding: 0.35rem 1rem;
}

.header-logo-image {
  height: 6rem;
}

@media only screen and (max-width: 767px) {
  .header-logo-image {
    /* position: absolute;
    top: 5px; */
    width: 100%;
    height: auto;
  }
  .nav-content {
    padding-top: 0rem;
  }
  .hiddenOnMobile {
    display: none;
  }
}

.inline-form {
  display: inline;
}
